<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>订单列表</title>

  <link href="/static/css/style.css" rel="stylesheet">
  <link href="/static/css/style-responsive.css" rel="stylesheet">
    <link href="/static/css/table-responsive.css" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/static/js/html5shiv.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <![endif]-->
    <link th:include="common :: com_header">
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #com_leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common::#com_headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                订单详情
            </h3>
            <ul class="breadcrumb">
                <li>
                    <img style="height: 60px" th:src="@{'/downloads/show/'+${session.store.store_image}}" th:alt="${session.store.store_name}" />
                </li>
                <li>
                    <a href="#"th:text="${session.store.store_name}"></a>
                </li>
                <li class="active" th:text="${session.store.store_introduce}"> </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            本店所有订单([[${submitGoodsAllList.size()}]]条）
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
<!--                            <a href="javascript:;" class="fa fa-times"></a>-->
                         </span>
                        </header>
                        <div class="panel-body">
                            <section id="no-more-tables">
                            <table class="table table-bordered table-striped table-condensed cf" id="editable-sample">
                                <thead class="cf">
                                <tr>
                                    <th>订单号</th>
                                    <th>时间</th>
                                    <th>收货人</th>
                                    <th>地址</th>
                                    <th>电话</th>
                                    <th>商品名</th>
                                    <th>商品id</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>总价</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="g:${submitGoodsAllList}">
                                    <td data-title="订单号" th:text="${g.submit_id.substring(14)}">订单号</td>
                                    <td data-title="时间" th:text="${g.time}">时间</td>
                                    <td data-title="收货人" class="hidden-phone" th:text="${g.name}">收货人</td>
                                    <td data-title="地址" th:text="${g.address}">地址</td>
                                    <td data-title="电话" th:text="${g.phone}">电话</td>
                                    <td data-title="商品名" th:text="${g.goods_name}">商品名</td>
                                    <td data-title="商品id" th:text="${g.goods_id}">商品id</td>
                                    <td data-title="单价" th:text="${g.goods_price}">单价</td>
                                    <td data-title="数量" th:text="${g.num}">数量</td>
                                    <td data-title="总价" th:text="${#numbers.formatDecimal(g.goods_price*g.num,1,'COMMA',2,'POINT')}">总价</td>
                                    <td data-title="状态" th:switch="${g.state}">
                                        <span th:case="订单确认" class="label label-info label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="订单拒绝" class="label label-warning label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="未处理" class="label label-default label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="已收货" class="label label-success label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="退货" class="label label-danger label-mini" th:text="${g.state}">状态</span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            </section>
                        </div>
                    </section>
                </div>
                <footer>
                    2021 &copy; 星曦向荣 </a>
                </footer>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->

        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>
<div th:include="common::#com_script"></div>
<!-- Placed js at the end of the document so the pages load faster
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
&lt;!&ndash;common scripts for all pages&ndash;&gt;
<script src="js/scripts.js"></script>-->
<script type="text/javascript" src="/static/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
<!--script for editable table-->
<script src="/static/js/editable-table.js"></script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
</body>
</html>
