<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>订单列表</title>

  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
    <link th:include="common :: com_header">
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #com_leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common::#com_headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                订单详情
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#"th:text="${session.store.store_name}"></a>
                </li>
                <li class="active" th:text="${session.store.store_introduce}"> </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            本店所有订单
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <table class="table  table-hover general-table" id="editable-sample">
                                <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th class="hidden-phone">收货人</th>
                                    <th>地址</th>
                                    <th>电话</th>
                                    <th>商品名</th>
                                    <th>商品id</th>
                                    <th>单价</th>
                                    <th>数量</th>
                                    <th>总价</th>
                                    <th>状态</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="g:${submitGoodsAllList}">
                                    <td th:text="${g.submit_id}">订单号</td>
                                    <td class="hidden-phone" th:text="${g.name}">收货人</td>
                                    <td th:text="${g.address}">地址</td>
                                    <td th:text="${g.phone}">电话</td>
                                    <td th:text="${g.goods_name}">商品名</td>
                                    <td th:text="${g.goods_id}">商品id</td>
                                    <td th:text="${g.goods_price}">单价</td>
                                    <td th:text="${g.num}">数量</td>
                                    <td th:text="${#numbers.formatDecimal(g.goods_price*g.num,1,'COMMA',2,'POINT')}">总价</td>
                                    <td th:switch="${g.state}">
                                        <span th:case="订单确认" class="label label-info label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="订单拒绝" class="label label-warning label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="未处理" class="label label-default label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="已收货" class="label label-success label-mini" th:text="${g.state}">状态</span>
                                        <span th:case="退货" class="label label-danger label-mini" th:text="${g.state}">状态</span>
                                    </td>
                                </tr>
                               <!-- <tr>
                                    <td>
                                        <a href="#">
                                            XYZ
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>13240.00$ </td>
                                    <td><span class="label label-success label-mini">Paid</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 55%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-warning">
                                                <span class="sr-only">55% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>-->
                               <!-- <tr>
                                    <td><a href="#">Graphics</a></td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                    <td>1320.00$ </td>
                                    <td><span class="label label-info label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            BCSE
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>3455.50$ </td>
                                    <td><span class="label label-danger label-mini">Paid</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-info">
                                                <span class="sr-only">90% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">AVC Ltd</a></td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo imit</td>
                                    <td>110.00$ </td>
                                    <td><span class="label label-primary label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-success">
                                                <span class="sr-only">60% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">
                                            Themeforest
                                        </a>
                                    </td>
                                    <td class="hidden-phone">Lorem Ipsum dorolo</td>
                                    <td>456.00$ </td>
                                    <td><span class="label label-warning label-mini">Due</span></td>
                                    <td>
                                        <div class="progress progress-striped progress-xs">
                                            <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar progress-bar-danger">
                                                <span class="sr-only">40% Complete (success)</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>-->

                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
                <footer>
                    2021 &copy; 星曦向荣 </a>
                </footer>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->

        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>
<div th:include="common::#com_script"></div>
<!-- Placed js at the end of the document so the pages load faster
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
&lt;!&ndash;common scripts for all pages&ndash;&gt;
<script src="js/scripts.js"></script>-->
<script type="text/javascript" src="/static/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
<!--script for editable table-->
<script src="/static/js/editable-table.js"></script>
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
</body>
</html>
