<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">
    <script src="/static/img/js/addGoods.js"></script>
    <!--file upload-->
    <link rel="stylesheet" type="text/css" th:href="@{static/css/bootstrap-fileupload.min.css}" />
  <title>修改商品</title>

  <!--dynamic table-->
  <!--<link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

  <link href="css/style.css" rel="stylesheet">
  <link href="css/style-responsive.css" rel="stylesheet">

  &lt;!&ndash; HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;
  &lt;!&ndash;[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>-->
  <![endif]-->
    <link th:include="common :: com_header">
    <div th:include="common::#com_script"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #com_leftmenu"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common::#com_headermenu"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                编辑商品
            </h3>
            <ul class="breadcrumb">
                <li>
                    <img style="height: 60px" th:src="@{'/downloads/show/'+${session.store.store_image}}" th:alt="${session.store.store_name}" />
                </li>
                <li>
                    <a th:text="${session.store.store_name}">Dashboard</a>
                </li>
                <li>
                    <a th:text="${session.store.store_introduce}">Data Tables</a>
                </li>
                <li class="active"th:text="${session.et_goods.goods_name}"> Dynamic Table </li>
                <li class="active"th:text="${session.et_goods.goods_introduction}"> Dynamic Table </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <header class="panel-heading">
            修改商品信息
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
<!--                <a href="javascript:;" class="fa fa-times"></a>-->
             </span>
        </header>
        <div class="panel-body">
        <div class="adv-table">
            <form class="form-horizontal"  th:action="@{dynamic_table}" role="form" name="addGoodsFrom" method="post" enctype="multipart/form-data" onsubmit="return flag()">
                <div class="form-group" style="font-size: 20px">
                    <div class="col-lg-10">
                        <label th:if="${msg}!=null" th:class="${code}==200?'label label-success':'label label-warning'"th:text="${msg}"></label>
                        <a th:href="@{goodsfromstore_table}" th:if="${code}==200" class="btn btn-search">返回商品列表</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">商品名称</label>
                    <div class="col-lg-10">
                        <input type="hidden" name="goods_id" th:value="${session.et_goods.goods_id}">
                        <input type="text" th:value="${session.et_goods.goods_name}" name="goods_name" class="form-control" id="inputEmail1" placeholder="商品名称">
                        <p class="help-block">商品的名陈（字数限制15字）</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1"class="col-lg-2 col-sm-2 control-label">商品种类</label>
                    <div class="col-lg-10">
                        <input type="hidden"id="goods_type"th:value="${session.et_goods.goods_type}">
                        <select class="form-control" id="exampleFormControlSelect1" name="goods_type" >
                            <option value="食品">食品</option>
                            <option value="百货">百货</option>
                            <option value="生鲜">生鲜</option>
                            <option value="数码">数码</option>
                            <option value="运动">运动</option>
                            <option value="学习">学习</option>
                            <option value="电器">电器</option>
                            <option value="女装">女装</option>
                            <option value="男装">男装</option>
                            <option value="鞋包">鞋包</option>
                            <option value="饰品">饰品</option>
                            <option value="医护">医护</option>
                            <option value="户外">户外</option>
                            <option value="其他">其他</option>
                        </select>
                        <p class="help-block">选择商品的种类</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-lg-2 col-sm-2 control-label">商品简介</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" name="goods_introduction" rows="3"id="inputEmail" th:text="${session.et_goods.goods_introduction}"></textarea>
                        <p class="help-block">请输入商品的介绍（字数限制30字）</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">商品金额</label>
                    <div class="col-lg-10">
                        <div class="input-group">
                            <span class="input-group-addon">￥</span>
                            <input th:value="${session.et_goods.goods_price}" type="number" placeholder="" max="999999999" name="goods_price" step="0.01"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''" class="form-control" id="inputPassword1">
                            <!--                                    <span class="input-group-addon">.00</span>-->
                        </div>
                        <p class="help-block">请输入商品的价格</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile2" class="col-lg-2 col-sm-2 control-label">商品图片</label>
                    <div class="col-lg-10">

                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                <img th:src="@{'/downloads/show/'+${session.et_goods.goods_image}}" th:alt="${session.et_goods.goods_name}" />
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>

                            <div>
                                <span class="label label-danger ">注意!</span>
                                <span>请选择商品的图片(大小1Mb以内)</span>
                                <br>
                                <span class="btn btn-default btn-file">
                                                       <span class="fileupload-new"><i class="fa fa-paper-clip"></i> 选择图片</span>
                                                       <span class="fileupload-exists"><i class="fa fa-undo"></i> 更改</span>
                                                       <input id="exampleInputFile2" type="file" class="default" name="image" />
                                                       </span>
                                <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> 删除</a>
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-lg-10">-->
<!--                        <img class="img-modal" th:src="@{'/downloads/show/'+${session.et_goods.goods_image}}"style="height: 100px">-->
<!--                        <input type="file" id="exampleInputFile2" name="image">-->
<!--                        <p class="help-block">请选择修改的商品图片(大小1Mb以内)</p>-->
<!--                    </div>-->
                </div>

                <input type="hidden" name="store_name"th:value="${session.store.store_name}">
                <input type="hidden" name="store_id"th:value="${session.store.store_id}">
                <input type="hidden" name="time">
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-success btn-lg">提交修改</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
            <footer>
                2021 &copy; 星曦向荣 </a>
            </footer>
        </section>
        </div>
        </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->

        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>
<script>
    function set_select_checked(selectId, checkValue){
        var select = document.getElementById(selectId);
        for (var i = 0; i < select.options.length; i++){
            if (select.options[i].value == checkValue){
                select.options[i].selected = true;
                break;
            }
        }
    }
    var val=$("#goods_type").val()
    set_select_checked('exampleFormControlSelect1',val)
</script>
<!-- Placed js at the end of the document so the pages load faster -->
<script th:src="@{/static/js/jquery-1.10.2.min.js}"></script>
<script th:src="@{/static/js/jquery-ui-1.9.2.custom.min.js}"></script>
<script th:src="@{/static/js/jquery-migrate-1.2.1.min.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>
<script th:src="@{/static/js/modernizr.min.js}"></script>
<script th:src="@{/static/js/jquery.nicescroll.js}"></script>

<!--dynamic table-->
<script type="text/javascript" language="javascript" th:src="@{/static/js/advanced-datatable/js/jquery.dataTables.js}"></script>
<script type="text/javascript" th:src="@{/static/js/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization -->
<script th:src="@{/static/js/dynamic_table_init.js}"></script>

<!--common scripts for all pages-->
<script th:src="@{/static/js/scripts.js}"></script>
<!--file upload-->
<script type="text/javascript" th:src="@{/static/js/bootstrap-fileupload.min.js}"></script>

</body>
</html>
