<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${status}]]</title>
    <style>
        body{
            text-align: center;
            /*padding-top: 1%;*/
            background: url(/static/img/b1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        h1{
            color: white;
        }
        #back{
            font-size: 50px;
            color: #ffd7cf;
        }
        #title{
            font-size: 60px;
            color: #ffad48;
            letter-spacing: 25px;
        }
    </style>
</head>
<body>
<p id="title"><strong>错误界面</strong></p>
<h1>status(状态码):[[${status}]]</h1>
<h1>timestamp(时间):[[${#dates.format(timestamp,'yyyy/MM/dd HH:mm')}]]</h1>
<h1>error(错误原因):[[${error}]]</h1>
<h1 th:if="${exception}!=null">exception(异常对象):[[${exception}]]</h1>
<h1 th:if="${message}!=null" th:text="'message(异常消息):'+ ${message}"></h1>
<a th:href="@{/}" target="_self"><h2 id="back">点我返回主页</h2></a>
</body>
</html>