<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>500-服务器异常</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{/static/img/css/500.css}">
<body>
<h1>
    [[${#dates.format(timestamp,'yyyy/MM/dd HH:mm')}]]
    <br>
    <img th:src="@{/static/images/500-error.png}" style="height: 50px">，服务器暂时出错
</h1>
<h3 th:if="${messages!=null}">[[${message}]]</h3>
<img th:src="@{/static/img/500.png}">
<a th:href="@{/exit}" target="_self"><h2 id="back">点我重新登录</h2></a>
</body>
</html>