<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>后台系统管理主页</title>


  <!--icheck-->
  <link th:href="@{/static/js/iCheck/skins/minimal/minimal.css}" rel="stylesheet">
  <link th:href="@{/static/js/iCheck/skins/square/square.css}" rel="stylesheet">
  <link th:href="@{/static/js/iCheck/skins/square/red.css}" rel="stylesheet">
  <link th:href="@{/static/js/iCheck/skins/square/blue.css}" rel="stylesheet">
    <!--responsive table-->
    <link href="/static/css/table-responsive.css" rel="stylesheet" />
  <!--dashboard calendar-->
  <link th:href="@{/static/css/clndr.css}" rel="stylesheet">
    <link th:include="common :: com_header">
  <!--Morris Chart CSS -->
  <link rel="stylesheet" th:href="@{/static/js/morris-chart/morris.css}">
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common :: #com_leftmenu"></div>
    
    <!-- main content start-->
    <div class="main-content" >

        <div th:replace="common::#com_headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                店铺详情
            </h3>
            <ul class="breadcrumb">
                <li>
                    <img style="height: 60px" th:src="@{'/downloads/show/'+${session.store.store_image}}" th:alt="${session.store.store_name}" />
                </li>
                <li>
                    <a th:text="${Store_name}"></a>
                </li>
                <li class="active"th:text="${Store_introduce}"></li>
            </ul>
            <div class="state-info">
                <section class="panel">
                    <div class="panel-body">
                        <div class="summary">
                            <span>店铺总营业额</span>
                            <h3 class="red-txt" >￥ [[${count_price}]]</h3>
                        </div>
                        <div id="income" class="chart-bar"></div>
                    </div>
                </section>
                <section class="panel">
                    <div class="panel-body">
                        <div class="summary">
                            <span>店铺总销量</span>
                            <h3 class="green-txt" th:text="${num}"></h3>
                        </div>
                        <div id="expense" class="chart-bar"></div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <div class="row">
                <div class="col-md-8">
                    <!--statistics start-->
                    <div class="row state-overview">
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel purple">
                                <div class="symbol">
                                    <i class="fa fa-gavel"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value"th:text="${listnum}"></div>
                                    <div class="title">未处理订单总数</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel red">
                                <div class="symbol">
                                    <i class="fa fa-tags"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value"th:text="${goodsnum}">0</div>
                                    <div class="title">未处理订单商品总数</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel blue">
                                <div class="symbol">
                                    <i class="fa fa-money"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value"th:text="${goodsprice}">0</div>
                                    <div class="title"> 未处理订单总价格</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-6">
                            <div class="panel green">
                                <div class="symbol">
                                    <i class="fa fa-eye"></i>
                                </div>
                                <div class="state-value">
                                    <div class="value" th:text="${OKnum}"></div>
                                    <div class="title"> 已成交的订单总数</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--statistics end-->
                </div>
                <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="calendar-block ">
                                <div class="cal1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <section class="panel">
                        <header class="panel-heading">
                            未处理的商品订单([[${submitGoodsList.size()}]]条）
                            <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <!--                        <a href="javascript:;" class="fa fa-times"></a>-->
                     </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table">
                                <div class="clearfix">
                                    <!--<div class="btn-group">
                                        <button class="btn btn-primary">&lt;!&ndash;id="editable-sample_new"&ndash;&gt;
                                            <a th:href="@{/responsive_table}">添加数据 <i class="fa fa-plus"></i></a>
                                        </button>
                                    </div>-->

                                </div>
                                <!--<div class="form-control" th:if="${code}!=200">
                                    <label th:if="${code}==404"class="label label-warning">错误，该店铺不存在</label>
                                    <label th:if="${code}==403"class="label label-warning">错误，该店铺ID为空</label>
                                </div>-->

                                <section id="no-more-tables">
<!--                                <table class="table table-striped table-hover table-bordered" id="editable-sample" >-->
                                <table class="table table-bordered table-striped table-condensed cf" id="editable-sample">
                                    <thead class="cf">
                                    <tr>
                                        <th style="text-align: center">订单时间</th>
                                        <th style="text-align: center">收货人</th>
                                        <th style="text-align: center">收货地址</th>
                                        <th style="text-align: center">联系电话</th>
                                        <th style="text-align: center">商品id</th>
                                        <th style="text-align: center">商品名</th>
                                        <th style="text-align: center">单价</th>
                                        <th style="text-align: center">数量</th>
                                        <th style="text-align: center">总价</th>
                                        <th>确认订单</th>
                                        <th>拒绝订单</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class=""th:each="goods:${submitGoodsList}" style="text-align: center">
                                        <td data-title="订单时间" style="text-align: center" th:text="${goods.time}">订单时间</td>
                                        <td data-title="收货人" style="text-align: center ;height: auto" th:text="${goods.name}">收货人</td>
                                        <td data-title="收货地址" style="text-align: center;height: auto;width: auto;margin: auto"  th:text="${goods.address}">收货地址</td>
                                        <td data-title="联系电话" style="text-align: center" th:text="${goods.phone}"></td>
                                        <td data-title="商品id" style="text-align: center" class="center" >[[${goods.goods_id}]]</td>
                                        <td data-title="商品名" style="text-align: center" class="center" >[[${goods.goods_name}]]</td>
                                        <td data-title="单价" style="text-align: center" class="center" >[[${goods.goods_price}]]</td>
                                        <td data-title="数量" style="text-align: center" class="center" >[[${goods.num}]]</td>
                                        <td data-title="总价" style="text-align: center" class="center" >[[${#numbers.formatDecimal(goods.goods_price*goods.num,1,'COMMA',2,'POINT')}]]</td>
                                        <td data-title="确认订单" style="text-align: center"><a class="btn btn-sm btn-search e1" th:attr="put_url=@{/Order_Confirm/}+${goods.submit_id}+'/'+${goods.goods_id}">确认</a></td>
                                        <td data-title="拒绝订单" style="text-align: center"><a class="btn btn-sm btn-danger d1" th:attr="del_url=@{/Order_Refused/}+${goods.submit_id}+'/'+${goods.goods_id}">拒绝</a></td>
                                    </tr>

                                    </tbody>
                                </table>
                                </section>
                                <form id="putEmpRorm" th:method="${'post'}"></form>
                                <form id="delEmpRorm" th:method="${'post'}"></form>
                            </div>
                        </div>
                        <footer>
                            2021 &copy; 星曦向荣 </a>
                        </footer>
                    </section>
                </div>
            </div>

        </div>

    </div>
    <!-- main content end-->
</section>

<div th:include="common::#com_script"></div>

<script>
    $(".d1").click(function () {
        var d=window.confirm("确定拒绝此订单商品？");
        if (d) {
            $("#delEmpRorm").attr("action", $(this).attr("del_url")).submit();
            return false;
        }
    });
    $(".e1").click(function () {
        $("#putEmpRorm").attr("action",$(this).attr("put_url")).submit();
        return false;
    });
</script>

<!--easy pie chart-->
<script th:src="@{/static/js/easypiechart/jquery.easypiechart.js}"></script>
<!--<script th:src="@{/static/img/js/jquery-3.2.1.slim.min.js}"></script>-->
<script th:src="@{/static/js/easypiechart/easypiechart-init.js}"></script>

<!--Sparkline Chart-->
<script th:src="@{/static/js/sparkline/jquery.sparkline.js}"></script>
<script th:src="@{/static/js/sparkline/sparkline-init.js}"></script>

<!--icheck -->
<script th:src="@{/static/js/iCheck/jquery.icheck.js}"></script>
<script th:src="@{/static/js/icheck-init.js}"></script>

<!-- jQuery Flot Chart-->
<script th:src="@{/static/js/flot-chart/jquery.flot.js}"></script>
<script th:src="@{/static/js/flot-chart/jquery.flot.tooltip.js}"></script>
<script th:src="@{/static/js/flot-chart/jquery.flot.resize.js}"></script>


<!--Morris Chart-->
<script th:src="@{/static/js/morris-chart/morris.js}"></script>
<script th:src="@{/static/js/morris-chart/raphael-min.js}"></script>

<!--Calendar-->
<script th:src="@{/static/js/calendar/clndr.js}"></script>
<script th:src="@{/static/js/calendar/evnt.calendar.init.js}"></script>
<script th:src="@{/static/js/calendar/moment-2.2.1.js}"></script>
<script th:src="@{http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js}"></script>

<!--common scripts for all pages-->
<!--<script th:src="@{/static/js/scripts.js}"></script>-->

<!--Dashboard Charts-->
<script th:src="@{/static/js/dashboard-chart-init.js}"></script>

<script type="text/javascript" src="/static/js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/js/data-tables/DT_bootstrap.js"></script>
<!--script for editable table-->
<script src="/static/js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
</script>
</body>
</html>
